includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

services:
    -
        class: Devdojo\Auth\PHPStan\Extensions\ConfigExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

parameters:
    level: max
    paths:
        - src
    excludePaths:
        - /Users/tonylea/Sites/auth/vendor
