<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
    <testsuite name="Smoke">
      <directory suffix="Test.php">./tests/Smoke</directory>
    </testsuite>
  </testsuites>
  <php>
      <env name="APP_NAME" value="Laravel"/>
      <env name="APP_ENV" value="testing"/>
      <env name="APP_KEY" value="base64:GJqqemn+XoJxzujsDb+SMGI7rgKkpMjTj4uh8WK4hkk="/>
      <env name="APP_DEBUG" value="true"/>
      <env name="APP_TIMEZONE" value="UTC"/>
      <env name="APP_URL" value="https://wstw4ifdxz.sharedwithexpose.com/"/>
      <env name="BCRYPT_ROUNDS" value="4"/>
      <env name="CACHE_DRIVER" value="array"/>
      <env name="DB_CONNECTION" value="mysql"/>
      <env name="DB_DATABASE" value="auth_testing"/>
      <env name="MAIL_MAILER" value="array"/>
      <env name="QUEUE_CONNECTION" value="sync"/>
      <env name="SESSION_DRIVER" value="array"/>
      <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
</phpunit>
