@tailwind base;
@tailwind components;
@tailwind utilities;

.CodeMirror{
    border-radius: 6px;
    border: 1px solid #e1e1e5;
}

input[type='number'].auth-code-input {
    -moz-appearance:textfield;
}

input.auth-code-input::-webkit-outer-spin-button,
input.auth-code-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}